body {
    font-family: 'Vollkorn', serif;
    font size: 16px;
    color: goldenrod;
    background-color: darkslategray;
}
.header {
    font-weight: bold;
}

.column {
    float: left;
    width: 32%;
    height: 100%;
    margin-left: 1%;
}
 
.cost {
    font: 12px Vollkorn;
    text-indent: 20px;
}

button {
  font: 16px Vollkorn;
}

.btn {
    background-color: darkslategrey;
	border: none;
	display: inline-flex;
	cursor: pointer;
	color: yellow;
    padding: 0px 0px;
    margin: 0px 0px;
}
.btn:hover {
	background-color: seagreen;
}
.btn:active {
    position: relative;
	top: 1px;
}

.btn:disabled {
    background-color: darkslategrey;
	border: none;
	display: inline-flex;
	cursor: default;
	color: goldenrod;
}

.fire {
    font: 12px Vollkorn;
    vertical-align: bottom;
    float: right;
    margin-right: 50px;
}

#farmers {
    visibility: hidden;
}

#woodcutters {
    visibility: hidden;
}

#stonecutters {
    visibility: hidden;
}