body {
    font-family: 'Vollkorn', serif;
    font size: 16px;
    color: goldenrod;
    background-color: darkslategray;
    margin: 0px;
}

.column {
    float: left;
    width: 32%;
    height: 100%;
    margin-left: 1%;
}
 
.container {
    border-radius: 5px;
    border: 2px solid lightgray;
    background-color: darkslategray;
    padding: 4px;
}

button {
  font: 16px Vollkorn;
}

.btn {
    background-color: darkslategrey;
	border: none;
	display: inline-flex;
	cursor: pointer;
	color: yellow;
    padding: 0px 0px;
    margin: 0px 0px;
}

.btn:active {
    position: relative;
	top: 1px;
}

.btn:hover {
    position: relative;
	left: 2px;
}

.btn:disabled {
    background-color: darkslategrey;
    cursor: default;
	color: goldenrod;
}

.fire {
    font: 12px Vollkorn;
    vertical-align: bottom;
    float: right;
    margin-right: 50px;
}

.top {
    background-color: #000000;
    
}

.building {
    display: none;
}

.cost {
    font: 12px Vollkorn;
    text-indent: 20px;
}

.fullScreenDiv {
    float: left;
    width: calc(98% - 12px);
    height: auto;
    margin: 1%;
}

.header {
    margin-top: 4px;
    font-weight: bold;
}

.resource {
    display: none;
}

.occupation {
    display: none;
}

.option {
    visibility: hidden;
    margin-left: 26px;
}

.territory {
    display: none;
}

.visible{
    display: block;
}

#choiceHeader {
    border-radius: 5px;
    border: 2px solid goldenrod;
    background-color: #000000;
    color: #00CED1;
    padding: 4px;
}

#bottomBar {
    border-radius: 5px;
    border: 2px solid goldenrod;
    background-color: #000000;
    color: #00CED1;
    padding: 4px;
    position:absolute;
    left: 0;
    bottom:0;
}

#buildingBox {
    display: none;
}

#food {
    display: block;
}

#peons {
    display: block;
}

#techBox {
    display: none;
}

#territoryBox {
    display: none;
}